<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">


    <insert id="insert">
        insert into dish (name, price, category_id, description, image, create_time, update_time, status, create_user, update_user)
        values
        (#{name}, #{price}, #{categoryId}, #{description}, #{image}, #{createTime}, #{updateTime}, #{status}, #{createUser}, #{updateUser})
</insert>
</mapper>

